*{
  background-color: #202020;
}

#root{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 10vh;
  width: auto;
  margin-left: 2%;
  background-color: transparent;
}

#white-text{
  color: white !important;
}

* {
  text-decoration: none;
}

a {
  background-color: transparent;
  color: white;
}

.content{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99.9vh;
  border-bottom: 1px solid white;
}

.err-content{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99.9vh;
  border-bottom: 1px solid white;
}


.er{
  font-size: 300%;
  color: white;
}

.erer{
  font-size: 250%;
  margin-top: -2%;
  color: white;
}

.ererer{
  font-size: 200%;
  margin-top: -2%;
  color: white;
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items:  center;
  border: solid black; 
  background-color: black;
  border-bottom: solid white;
  border-radius: 5px;
  position: fixed;
  height: 12vh;
  z-index: 1;
}


span{
  color: #f9004d;
  background-color: transparent;
  font-size: x-large;
  text-shadow: .5px .1px 0px white, 0px 0px 35px black;
}

.nav-content{
  display: flex;
  width: 50vw;
  justify-content: space-between;
  color: white;
  background-color: transparent;
}

.nav-con{
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  transition: 1s;
}

.nav-con:hover{
  color: #f9004d;
  cursor: pointer;
}

.user-data{
  background-color: transparent;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 3%;
}

.css-2uchni{
  background-color: black;
}

.name-div{
  background-color: transparent;
}

.user-name{
  color: white;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: transparent;
}

.user-pic{
  height: 7vh;
  width: auto;
  background-color: black;
  border-radius: 50px;
  background-color: #181818;
  border: solid #f9004d;
  cursor: pointer;
  transition: 5s;
  padding: .5vh;
}

.user-pic:hover{
  border: solid black;
  border-radius: 30%;
  transition: 1s;
}

.yes{
	display: inline-block;
	outline: none;
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 10px #858585;
	top: 6px;
	right: 6px;
  transition: 2s;
  font-size: large;
}
.yes:hover{
	background-color: transparent;
	border: 1px solid #f9004d;
  color: white;
	cursor: pointer;
}

.no{
	display: inline-block;
	outline: none;
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: green;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 10px #858585;
	top: 6px;
	right: 6px;
  transition: 1s;
  font-size: large;
}
.no:hover{
	background-color: transparent;
	border: 1px solid green;
  color: white;
	cursor: pointer;
}

.login{
	border: 2px solid #f9004d;
  position:relative;
	padding: 10px 10px;
	border-radius: 30px;
	background-color: #f9004d;
	color: black;
  transition: .2s;
  font-size: large;
  margin-right: 0%;
}
.login:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}


/* HOME */

.home{
  display: flex;
  justify-content: center;
  border-bottom: solid white;
  height:99.7vh;
}

.picture{
  margin-top: 1%;
  width: 50%;
}

.pic{
  width: 80%;
  height: auto;
  margin-top: 18vh;
  background-color: transparent;
}

.home-content{
  margin-top: 15%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.heading{
  margin-top: 8%;
  text-align: left;
  font-size: xxx-large;
  background-color: transparent;
  color: white;
  text-shadow: 0px 0px 90px #000, 0px 0px 10px #858585;

}

.sub-heading{
  margin-top: -3%;
  text-align: left;
  font-size: x-large;
  background-color: transparent;
  color: white;
  width: fit-content;
}


.heading-content{
  text-align: left;
  font-size: large;
  margin-right: 4.5%;
  background-color: transparent;
  color: #fcfc;
  margin-top: -2%;
  font-weight: bold;
}

.buttons{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4%;
  background-color: transparent;
}



/* Game-Page */

.game-page{
  display: flex;
  justify-content: center;
  border-bottom: solid white;
  height: 99.9vh;
}

.picture-gp{
  margin-top: 1%;
  width: 50%;
}

.gamepage-content{
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 40%;
  border: solid black;
  border-radius: 10%;
}

.record-game{
	display: inline-block;
	outline: none;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 35px;
	background-color:#f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
  transition: .4s;
  width: 83%;
  height: 40%;
  margin-top: 2.2%;
  text-align: center;
  font-size: xx-large;
}
.record-game:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}
.view-game{
	display: inline-block;
	outline: none;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 35px;
	background-color:#f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  transition: .4s;
  width: 83%;
  height: 40%;
  margin-top: 2.2%;
  text-align: center;
  font-size: xx-large;
}
.view-game:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}

/* New-Game */

.newgame-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-bottom: 3px solid white;
  height: 99vh;
}

#gametitle-re{
  margin-top: 10%;
  width: 40%;
  border: .1px solid #181818;
  border-bottom: .5vw solid #f9004d;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  font-size: x-large;
}
.main-part-up{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-part-up-2{
  display: none;
}

.score-1{
  background-color: #f9004d;
  width: 8%;
  text-align: center;
  font-size: 5rem;
  border-right: 6px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.score-2{
  width: 8%;
  background-color: #f9004d;
  text-align: center;
  font-size: 5rem;
  border-left: 6px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.b-court{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  /* margin-top: 5%; */
}

.main-part-down{
  width: 80%;
  display: flex;
  margin-top: 3%;
  margin-bottom: 5%;
  justify-content: space-between;
}

.p-1-details{
  display: flex;
  background-color: #f9004d;
  flex-direction: column;
  align-items: right;
  width: 15%;
  border: solid black;
}

.p-1-details-name{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
  background-color: transparent;
  color: green;
}

.p-1-details-score{
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: x-large;
  background-color: transparent;
}

.functions-mobile{
  display: none;
}

.functions{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.undo{
  border: solid black;
  background-color: #f9004d;
  font-size: large;
  margin: 1% 1% 1% 1%;
}



.p-2-details{
  display: flex;
  background-color: #f9004d;
  flex-direction: column;
  align-items: right;
  width: 15%;
  border: solid black;
}

.p-2-details-name{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
  background-color: transparent;
}

.p-2-details-score{
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: x-large;
  background-color: transparent;
}


/* SemiResult Page */

.title-sr{
  width: 80%;
  margin-bottom: 5%;
  text-align: center;
  color: white;
  font-size: xx-large;
  margin-top: 15vh;
}


.main-part-up-sm{
  margin-top: -3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.main-part-down-sm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.p-details{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.win-text{
  text-align: center;
  margin-top: 2%;
  font-size: xx-large;
  color: #fcfc;
  text-align: center;
  width: 85%;
}

input{
  color: white;
}

.save-game{
	display: inline-block;
	outline: none;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: green;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 35px #858585;
  transition: .4s;
  font-size: large;
  margin-right: 20px;
}
.save-game:hover{
	background-color: black;
	border: 2px solid green;
  color: white;
	cursor: pointer;
}

.end{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old-gamepage-content{
  padding: 1vh 1vh;
  display: flex;
  align-items: center;
  margin-top: 8.5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40vw;
  height: 80vh;
  border: solid black;
  border-radius: 10%;
	box-shadow: 0px 0px 5px #000, 0px 0px 35px #858585;
}

.old-gamepage-heading{
  background-color: transparent;
  color: #f9004d;
  text-shadow: solid #181818;
  text-shadow: #181818;
  height: 6vh;
}

.old-gamepage-data{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 65vh;
  width: 35vw;
  overflow-y: scroll;
  border-radius: 30px;
}

.old-gamepage-data::-webkit-scrollbar{
  display: none;
}

.loading{
  height: 65vh;
  width: 35vw;
  background-color: transparent;
  margin-top: -1vh;
}

.login-news{
	border: 2px solid #f9004d;
  position:relative;
	padding: 10px 10px;
	border-radius: 30px;
	background-color: #f9004d;
	color: black;
  transition: .2s;
  font-size: large;
  margin-right: 0%;
}
.login-news:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}

.shop{
  padding: 13vh 5vh 5vh 5vh;
  color: white;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  width: 100%;
}

.card{
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: fit-content;
  cursor: pointer;
  box-shadow: none;
}

.card:hover{
  box-shadow: 0px 0px 15px #000, 0px 0px 55px #858585;
}

.card-img{
  height: 40vh;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-content{
  height: 60%;
  display: flex;
  flex-direction: column;
}

.card-content-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-component-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.product-name{
  color: white;
  font-size: large;
  margin: 2%;
  width: 70%;
}

.rating{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  color: white;
}

.product-rating{
  font-size: x-large;
  margin: 0%;
}

.product-ratings{
  font-size: x-small;
  margin: 0%;
}

.price-url{
  display: flex;
  justify-content: space-between;
  padding: 0% 3% 0% 0%;
}

.product-price{
  font-size: x-large;
  margin: 2%;
  color: #f9004d;
  margin-top: 1vh;
}

.url{
  width: 7vw;
  margin-top: 1vh;
  padding: 1%;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}
.url:hover{
  background-color: green;
  color: black;
}

.product-decription{
  font-size: small;
  margin: 0%;
  text-align: justify;
  padding: 2%;
  color: #fcfc;
}

@media screen and (max-width: 650px) {
  .navbar{
    height: 11vh;
  }
  .logo{
    height: 9vh;
  }
  .home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture{
    width: 100%;
    margin-bottom: -3%;
  }
  .home-content{
    width: 85%;
    margin-top: 2%;
  }
  .nav-con{
    display: none;
  }
  .app-name{
    width: 100%;
    font-size: x-large;
  }
  .picture{
    margin-top: 10%;
  }
  .heading{
    font-size: xx-large;
  }
  .sub-heading{
    font-size: x-large;
    margin-bottom: 3%;
  }
  .heading-content{
    margin-top: 3%;
    font-size: medium;
  }
  .picture-gp{
    display: none;
  }
  .gamepage-content{
    width: 90vw;
    margin-top: 16vh;
    height: 80vh;
    border-radius: 50px;
  }
  .record-game{
    width: 70vw;
    height: 35.5vh;
    border-radius: 50px;
  }
  .view-game{
    width: 70vw;
    height: 35.5vh;
    border-radius: 50px;
  }
  #gametitle-re{
    width: 70%;
    font-size: large;
    margin-top: 30%;
    margin-bottom: 5%;
    border-bottom: 1vw solid #f9004d;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

  }
  .score-1{
    display: none;
  }
  .score-2{
    display: none;
  }
  .main-part-up-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .score-1-mob{
    border-bottom: 1vw solid #f9004d;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top: 1vw solid #f9004d;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    color: white;
    width: 13vw;
    text-align: center;
  }
  .score-2-mob{
    border-bottom: 1vw solid #f9004d;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top: 1vw solid #f9004d;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    color: white;
    width: 13vw;
    text-align: center;
  }
  .b-court{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  .functions{
    display: none;
  }
  .functions-mobile{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 5%;
  }
  .p-1-details{
    width: 45%;
  }
  .p-2-details{
    width: 45%;
  }
  .title-sr{
    margin-top: 6vh;
    margin-bottom: 4vh;
    color: white;
  }
  .win-text{
    margin-top: 5vh;
    font-size: x-large;
    width: 90%;
  }
  .end{
    display: flex;
    flex-direction: column;
  }
  .save-game{
    width: 40%;
    margin-top: 4%;
    margin-right: 0%;
  }
  .nav-conn{
    display: none;
  }
  .old-gamepage-content{
    width: 90vw;
    margin-top: 13vh;
    border-radius: 50px;
    height: 83vh;
  }
  .old-gamepage-heading{
    height: 4vh;
    margin-top: 1vh;
  }
  .old-gamepage-data{
    width: 85vw;
    height: 72vh;
  }
  .pic{
    width: 95%;
    margin-top: 13vh;
  }
  .loading{
    width: 85vw;
    height: 40vh;
    margin-top: 6vh;
  }
  .login-news{
    flex-direction: column !important;
    width: 80% !important;
  }
  .news-img{
    width: 100% !important;
  }
  .footer{
    flex-direction: column-reverse !important;
  }
  .logo-footer{
    width: 90% !important;
  }
  .logo-footer2{
    width: 80% !important;
  }
  .links{
    font-size: medium !important;
  }
  .logo-text{
    display: none !important;
  }
  .logo-text2{
    display: flex !important;
  }
  .newsletter{
    display: none !important;
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px){
  .pic{
    margin-top: 30vh;
  }
  .home-content{
    margin-top: 25vh;
  }
  .nav-conn{
    display: none;
  }
  .nav-content{
    justify-content: space-evenly;
  }
  .link-home{
    display: none;
  }
  .picture-gp{
    display: none;
  }
  .gamepage-content{
    width: 90vw;
    margin-top: 16vh;
    height: 80vh;
    border-radius: 50px;
  }
  .record-game{
    width: 75vw;
    height: 35.5vh;
    border-radius: 50px;
  }
  .view-game{
    width: 75vw;
    height: 35.5vh;
    border-radius: 50px;
  }
  .old-gamepage-content{
    padding: 1vh 1vh;
    align-items: center;
    margin-top: 14vh;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 95vw;
    height: 82vh;
    border: solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 5px #000, 0px 0px 35px #858585;
  }
  .old-gamepage-data{
    height: 67vh;
    width: 85vw;
  }
  .loading{
    width: 55vw;
    margin: auto;
  }
  .loading-nav{
    height: 7vh;
    border-radius: 50%;
    margin-right: 3%;
    padding: 1px 1px;
    border: 2px solid #f9004d;
  }
  .login-news{
    flex-direction: column !important;
  }
  .news-img{
    width: 100% !important;
  }
}

.title{
  font-size: xx-large;
  margin-top: 15vh;
  color: #f9004d;
  text-align: center;
  text-shadow: 1px 1px 00px white, 0px 0px 90px black;
}
.para{
  font-size: large;
  width: 80%;
  margin-left: 10%;
  color: #fcfc;
  text-align: justify;
}

.loading-nav{
  width: 4%;
  border-radius: 50%;
  margin-right: 3%;
	padding: 3px 3px;
	border: 2px solid #f9004d;
}
.Spline{
  height:100vh;
  width: 100vw;
}