*{
  background-color: #252424;
}


#white-text{
  color: white !important;
}

* {
  text-decoration: none;
}

a {
  background-color: transparent;
  color: black;
}

.content{
  background-color: transparent;
  margin-top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.er{
  font-size: 300%;
}

.erer{
  font-size: 250%;
  margin-top: -2%;
}

.ererer{
  font-size: 200%;
  margin-top: -2%;
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: solid black; 
  background-color: black;
  border-bottom: solid white;
  border-radius: 5px;
  position: relative;
}

.app-name{
  text-align: left;
  color: white;
  background-color: black;
  margin-left: 5%;
}

span{
  color: #f9004d;
  background-color: transparent;
}

/* HOME */

.home{
  display: flex;
  justify-content: center;
  border-bottom: solid white;
}

.picture{
  margin-top: 1%;
  width: 50%;
}

.pic{
  width: 100%;
  height: auto;
  margin-left: -5%;
}

.home-content{
  margin-top: 8%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.heading{
  margin-top: 10%;
  text-align: left;
  font-size: -webkit-xxx-large;
  background-color: transparent;
  color: white;
}

.sub-heading{
  margin-top: -3%;
  text-align: left;
  font-size: x-large;
  background-color: transparent;
  color: white;
  /* box-shadow: 0px 0px 90px #000, 0px 0px 5px #858585; */
  width: fit-content;
}


.heading-content{
  text-align: justify;
  font-size: large;
  margin-right: 4.5%;
  background-color: transparent;
  color: #fcfc;
  margin-top: -2%;
}

.buttons{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4%;
  background-color: transparent;
}

.login{
	display: inline-block;
	outline: none;
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
  transition: .4s;
  font-size: large;
  margin-right: 20px;
}
.login:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}

.skip{
	display: inline-block;
	outline: none;
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
  transition: .4s;
}
.skip:hover{
	background-color: black;
	border: 1px solid #f9004d;
  color: white;
	cursor: pointer;
}

.signup{
	display: inline-block;
	outline: none;
	border: 1px solid black;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 35px #858585;
	top: 6px;
	right: 6px;
  transition: .4s;
  font-size: large;
}
.signup:hover{
	background-color: transparent;
	border: 1px solid #f9004d;
  color: white;
	cursor: pointer;
}

/* Log-In */

.login-page{
  display: flex;
  justify-content: center;
}

.login-content{
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 40%;
  border: solid #f9004d;
  border-radius: 10%;
  
}

.login-heading{
  background-color: #d9d9d9;
  text-align: center;
  font-size: 3rem;
  margin-top: 11%;
}

.email{
  margin-top: 3%;
  width: 50%;
  height: 6%;
  margin-bottom: 1%;
  border: solid black;
  color: white;
}

.password{
  width: 50%;
  height: 6%;
  margin-top: 1%;
  border: solid black;
  margin-bottom: 8%;
  color: white;
}

/* Sign-Up */

.signup-heading{
  background-color: #d9d9d9;
  text-align: center;
  font-size: 3rem;
  margin-top: 11%;
}

.signup-page{
  display: flex;
  justify-content: center;
}

.signup-content{
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 13%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 40%;
  border: solid #f9004d;
  border-radius: 10%;
  
}


/* Game-Page */

.game-page{
  display: flex;
  justify-content: center;
}

.gamepage-content{
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 40%;
  border: solid black;
  border-radius: 10%;
}

.record-game{
	display: inline-block;
	outline: none;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 35px;
	background-color:#f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
  transition: .4s;
  width: 83%;
  height: 40%;
  margin-top: 2.2%;
  text-align: center;
  font-size: xx-large;
}
.record-game:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}
.view-game{
	display: inline-block;
	outline: none;
	border: 2px solid black;
	padding: 10px 30px;
	border-radius: 35px;
	background-color:#f9004d;
	color: black;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  transition: .4s;
  width: 83%;
  height: 40%;
  margin-top: 2.2%;
  text-align: center;
  font-size: xx-large;
}
.view-game:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}

/* New-Game */

.newgame-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gametitle{
  margin-top: 10%;
  width: 40%;
  height: 10%;
  border: solid black;
}

.main-part-up{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-1{
  background-color: #f9004d;
  width: 8%;
  text-align: center;
  font-size: 5rem;
  border-right: 6px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.score-2{
  width: 8%;
  background-color: #f9004d;
  text-align: center;
  font-size: 5rem;
  border-left: 6px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.b-court{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.main-part-down{
  width: 80%;
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.p-1-details{
  display: flex;
  background-color: #f9004d;
  flex-direction: column;
  align-items: right;
  width: 15%;
  height: 20%;
  border: solid black;
}

.p-1-details-name{
  margin-top: 5%;
  margin-left: 5%;
  font-size: x-large;
}

.p-1-details-score{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: x-large;
  background-color: transparent;
}

.functions{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.undo{
  border: solid black;
  background-color: #f9004d;
  font-size: large;
  margin: 1% 1% 1% 1%;
}



.p-2-details{
  display: flex;
  background-color: #f9004d;
  flex-direction: column;
  align-items: right;
  width: 15%;
  height: 20%;
  border: solid black;
}

.p-2-details-name{
  margin-top: 5%;
  margin-left: 5%;
  font-size: x-large;
}

.p-2-details-score{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: x-large;
  background-color: transparent;
}


/* SemiResult Page */

.gametitle-sm{
  width: 40%;
  margin-bottom: 1%;
}


.main-part-up-sm{
  margin-top: -3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.main-part-down-sm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.p-details{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.win-text{
  text-align: center;
  margin-top: 2%;
}

input{
  color: white;
}